<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card" id="divProformaData">
        <div class="card-header">
          <div style="height: 9px"></div>
          <div align="Center" style="font-size: large; font-weight: bold">नमुना-३</div>
          <div style="height: 9px"></div>
          <div align="Center" style="font-size: small; font-weight: bold">(निकाल लागल्यापासून ३० दिवसाच्या आत शपथपत्र सादर करावे)</div>
          <div align="Center" style="font-size: large; font-weight: bold">उमेदवाराचे शपथपत्र</div>
        </div>
        <div class="card-block">
          <table>
            <tr>
              <td style="padding-left: 30px">
                <span id="MainContent_lblsam1">मी नावे</span>&nbsp;
                <span id="MainContent_lblname" style="font-size:Larger;font-weight:bold;">{{extraDetails.FullName}}</span>&nbsp;
                <span id="MainContent_Label5">वडीलाचे/पतीचे नाव</span>&nbsp;
                <span id="MainContent_lblfathername">{{extraDetails.FatherName}} </span>&nbsp;
                <span id="MainContent_Label6">वय</span>&nbsp;
                <span id="MainContent_lblAge">{{extraDetails.Age}}</span>&nbsp;
                <span id="MainContent_Label7">वर्ष, राहणार</span>&nbsp;
                <span id="MainContent_lblAddress">{{extraDetails.Address}}</span>&nbsp;
                <span id="MainContent_Label8">याद्वारे गांर्भीयपूर्वक व मनपूर्वक पुढीलप्रमाणे या शपथपत्राद्वारे जाहिर करतो आहे की,</span>
                <br />
              </td>
            </tr>
            <tr>
              <td style="padding-left: 10px">
                <span id="MainContent_Label9">1.मी</span>&nbsp;&nbsp;
                <span id="MainContent_lblname2" style="font-size:Larger;font-weight:bold;">{{extraDetails.LocalBodyName}}</span>&nbsp;&nbsp; &nbsp;
                <span id="MainContent_Label10">, </span>
                <span id="MainContent_lblWardNo" style="font-size:Larger;font-weight:bold;">{{extraDetails.WardNo}}</span>&nbsp;
                <span id="MainContent_Label11">प्रभाग क्रमांक/गट/ गण मधुन सार्वत्रिक /पोट निवडणूक दिनांक</span>&nbsp;
                <span id="MainContent_lblElectiondate">{{extraDetails.ElectionDate}}</span>&nbsp;
                <span id="MainContent_Label12">मधुन निवडणूक लढविली होती व तिचा निकाल</span>&nbsp;&nbsp;&nbsp;
                <span id="MainContent_lblResultDate">{{extraDetails.ResultDate}}</span>
                &nbsp; &nbsp;
                <span id="MainContent_Label13"> रोजी घोषित करण्यात आला होता आणि सदर निकालानुसार मी विजयी/पराभूत झालो आहे.</span>
                <br />
              </td>
            </tr>
            <tr>
              <td style="padding-left: 10px">
                <span id="MainContent_Label14">2.मी / माझ्या प्रतिनिधीने नामनिर्देशन दिनांक</span>&nbsp;&nbsp;
                <span id="MainContent_lblNominationDate">{{extraDetails.NominationDate}}</span>&nbsp;&nbsp;
                <span id="MainContent_Label15">ते निकाल घोषित करण्यात आलेल्या दिनांक</span>&nbsp;&nbsp;
                <span id="MainContent_lblResultDate2">{{extraDetails.ResultDate}}</span>&nbsp;&nbsp;
                <span id="MainContent_Label16">, दोन्ही दिवस धरुन; या काळात केलेले सर्व निवडणूक खर्चाचे खरे व बिनचूक हिशोब ठेवलेले आहेत, तसेच खर्चाचे पूरक
                  पुराव्याचे कागद देखील जतन केले आहे.</span>
                <br />
              </td>
            </tr>

            <tr>
              <td style="padding-left: 10px">
                <span id="MainContent_lblfour">3.मी सादर केलेल्या खर्चामध्ये कोणतीही बाबत लपवून ठेवलेली नाही किंवा रोखून ठेवलेली नाही.</span>
                <br />
              </td>
            </tr>
            <tr>
              <td style="padding-left: 10px">
                <span id="MainContent_lblfive">4.मी स्वत: केलेला खर्च, पक्षाने माझ्यासाठी केलेला खर्च व इतर व्यक्तींनी माझ्यासाठी केलेला खर्च संपूर्णपणे,
                  खरे व अचुकपणे माझ्या एकूण खर्चात अंतर्भूंत केलेला आहे. </span>
                <br />
              </td>
            </tr>
            <tr>
              <td style="padding-left: 10px">
                <span id="MainContent_lblsix">5.मी निवडणुकीकरिता देणगी, भेटी, कर्ज, पक्ष निधी इत्यादि स्वरुपात गोळा केलेला निधीचा अचूक तपशिल सादर केला
                  आहे. हा सर्व निधी स्वखुशीने देण्यात आलेला आहे.</span>
                <br />
              </td>
            </tr>
            <tr>
              <td style="padding-left: 10px">
                <span id="MainContent_lblseven">6.मी ठेवलेले हिशोबाचे पुस्तके व त्यासंबंधातील खर्चाच्या पृष्ठयार्थ ठेवलेले पावती/बिल/ व्हाऊचर इ. यांच्या
                  मूळ प्रती, मी निवडणूक अधिकारी / निवडणूक निर्णय अधिकारी यांच्या मागणीनुसार पडताळणीसाठी न चुकता व विनाविलंब
                  सादर करील.</span>
                <br />
              </td>
            </tr>
            <tr>
              <td style="padding-left: 10px">
                <span id="MainContent_lbleight">7.मी सादर केलेल्या खर्चाचे दर जर प्रचलित स्थानिक दरापेक्षा कमी असल्यास व त्याबाबत माझा खुलासा ‍ निवडणूक अधिकारी
                  / निवडणूक निर्णय अधिकारी यांना मान्य नसल्यास ; त्यांनी ठरविलेला प्रचलित स्थानिक दराप्रमाणे खर्च मला मान्य
                  असेल.
                </span>
                <br />
              </td>
            </tr>
            <tr>
              <td style="padding-left: 10px">
                <span id="MainContent_lblnine">8.मी पेड न्यूजचा अवलंब केलेला नाही. पण तरीही तशी तक्रार आल्यास, त्याबाबतच्या समितीने घेतलेला निर्णय मला मान्य
                  असेल.
                </span>
                <br />
              </td>
            </tr>
            <tr>
              <td style="padding-left: 10px">
                <span id="MainContent_lblten">9.मी सादर केलेले निवडणूक खर्च जर, राज्य निवडणूक आयोगाने ठरवून दिलेल्या वेळेमध्ये व आवश्यक रितीने खर्च केले,
                  हिशोब ठेवले अगर नमुन्यात सादर केली नसतील तर मी कारवाईस पात्र असेन याची मला कल्पना आहे.</span>
                <br />
                <br />
              </td>
            </tr>
            <tr>
              <td style="padding-left: 100px">
                <span id="MainContent_lbllast">वरील केलेले विधान हे खरे आहे. या विधानात कोणतीही माहिती खोटी व लपवून ठेवलेली नाही.</span>
                <br />
                <br />
              </td>
            </tr>
            <tr>
              <td style="padding-left: 570px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span id="MainContent_lblsign">अभिसाक्षी</span>
                <br />
                <br />
              </td>
            </tr>
            <tr>
              <td style="padding-left: 10px">
                <span id="MainContent_Label1">माझ्या समक्ष दिनांक</span>&nbsp;&nbsp;
                <span id="MainContent_lbltodate">{{currDate}}</span>&nbsp;&nbsp;
                <span id="MainContent_Label2">रोजी</span>&nbsp;&nbsp;
                <span id="MainContent_lblplace">{{extraDetails.Place}}</span>&nbsp;&nbsp;
                <span id="MainContent_Label3">येथे श्री</span>&nbsp;&nbsp;
                <span id="MainContent_lblofficerName">{{extraDetails.FullName}}</span>&nbsp;&nbsp;
                <span id="MainContent_Label4">यांनी शपथपूर्वक कथन केले आहे.</span>
              </td>
            </tr>
          </table>
          <div style="height: 9px"></div>
          <div style="height: 9px"></div>
          <div class="col-md-5">
            <button type="button" id="btnPrint" class="btn btn-primary" (click)="Print()">Print</button>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>