<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card" id="divProformaData">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="card-header">
          <div style="height: 9px"></div>
          <div align="Center" style="font-size: large; font-weight: bold">नमुना-२</div>
          <div style="height: 9px"></div>
          <div align="Center" style="font-size: large; font-weight: bold">उमेदवार - एकूण निवडणूक खर्च</div>
          <div align="Center" style="font-size: small; font-weight: bold">निवडणूक लढविणाऱ्या उमेदवारांनी निकाल लागल्यापासून ३० दिवसाच्या आत एकूण निवडणूक खर्च सादर करावा.</div>
          <div align="Center" style="font-size: small; font-weight: bold">यामध्ये स्वतः केलेला खर्च पक्षाने केलेला खर्च व इतर व्यक्ती / संस्था यांनी केलेला एकूण निवडणूक खर्च</div>
        </div>
        <div class="card-block">
          <div style="height: 9px"></div>
          <div style="height: 9px"></div>
          <div style="border: groove">
            <table style="width: 100%;">
              <tr>
                <td class="auto-style1">उमेदवाराचे नाव :</td>
                <td>
                  <span id="MainContent_lblcandidateName">{{extraDetails.FullName}}</span>
                </td>
                <td class="auto-style2">जिल्ह्याचे नाव:</td>
                <td>
                  <span id="MainContent_lblDistrictNm">{{extraDetails.DistName}}</span>
                </td>
              </tr>
              <tr>
                <td class="auto-style1">पक्षाचे नाव :</td>
                <td>
                  <span id="MainContent_lblParty">{{extraDetails.PartyName}}</span>
                </td>
                <td class="auto-style2">सार्वत्रिक\पोट निवडणूक:</td>
                <td>
                  <span id="MainContent_lblElection">{{extraDetails.ElectionTypeName}}</span>
                </td>
              </tr>
              <tr>
                <td class="auto-style1">स्थानिक स्वराज्य संस्थेचे नाव :</td>
                <td>
                  <span id="MainContent_lblLocalBodyId">{{extraDetails.LocalBodyName}}</span>
                </td>
                <td class="auto-style2">मतदानाचा दिनांक:</td>
                <td>
                  <span id="MainContent_lblVotingDate">{{extraDetails.ElectionDate}}</span>
                </td>
              </tr>
              <tr>
                <td class="auto-style1">प्रभाग/गण/गट क्रमांक :</td>
                <td>
                  <span id="MainContent_lblWardNo">{{extraDetails.WardNo}}</span>
                </td>
                <td class="auto-style2">दिनांक:</td>
                <td>
                  <span id="MainContent_lblExpenseDate">{{currDate}}</span>
                </td>
              </tr>
              <tr>
                <td class="auto-style1">जागा / seat क्र :</td>
                <td>
                  <span id="MainContent_lblSeat">{{extraDetails.SeatName}}</span>
                </td>
                <td class="auto-style2">&nbsp;</td>
                <td>
                  <span id="MainContent_Label9"></span>
                </td>
              </tr>
            </table>
          </div>
          <div style="height: 9px"></div>
          <div style="height: 9px"></div>
          <table class="table table-bordered" id="dataTable">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="3" id="header">खर्चाची रक्कम</th>
              </tr>
              <tr>
                <th>अ.क्</th>
                <th>खर्चाची मुख्य बाब</th>
                <th>खर्चाची आंतर बाब</th>
                <!-- <th>तपशील</th> -->
                <!-- extra -->
                <th>प्रति दर</th>
                <th>दिनांक</th>
                <!-- extra -->
                <th>पावती</th>
                <!-- extra -->
                <th>पक्षाचा की/ इतर व्यक्तीचा नाव</th>
                <th>उमेदवाराने स्वतः केलेला खर्च</th>
                <th>पक्षाने उमेद्वाराकरिता केलेला खर्च</th>
                <th>इतर व्यक्तीनी उमेद्वाराकरिता केलेला खर्च</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let expense of expenseData">
                <td>{{expense.serverId}}</td>
                <td>{{expense.ExpenseTypeText}}</td>
                <td>{{expense.SubExpenseTypeText}}</td>
                <td>{{expense.Rate}}</td>
                <td>{{expense.Date}}</td>
                <td>{{expense.InvoiceNo}}</td>
                <td *ngIf="expense.PartyName != 0 || expense.PartyName != 00">{{expense.PartyName}}</td>
                <td *ngIf="expense.PartyName == 0 || expense.PartyName == 00"> </td>
                <td>{{expense.TotalExpense}}</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="7" id="footer">एकूण निवडणुकीचा खर्च</td>
                <td>{{personalTotalExpense}}</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div style="height: 9px"></div>
          <table>
            <tr>
              <td style="padding-left: 10px">
                <span id="MainContent_lbldateDetails">दिनांक .............रोजी ...........वा मी निधीबाबतचा तपशिल नमुना ४ सदर करत आहे.</span>
              </td>
            </tr>
            <tr>
              <td style="height: 27px"></td>
            </tr>
            <tr>
              <td style="text-align: right">
                <span id="MainContent_lblSignatureCandidate">उमेदवाराची सही</span>
              </td>
            </tr>
            <tr>
              <td style="padding-left: 10px">
                <span id="MainContent_lblDailyExpenseSample">सदर निधीबाबतचा तपशिल नमुना ४, दिनांक .............रोजी ...........वा मला प्राप्त झाला.</span>
              </td>
            </tr>
            <tr>
              <td style="height: 27px"></td>
            </tr>
            <tr>
              <td style="padding-left: 570px">
                <span id="MainContent_lblOfficerSign">सही निवडणूक निर्णय अधिकारी प्रभाग / गण / गट .......स्थानिक स्वराज्य संस्था </span>
              </td>
            </tr>
            <tr>
              <td>टीप :
                <span id="MainContent_lblTip1" style="padding-left: 5px">(१) दररोज खर्च नोंदवून सदर नमुना १ दुसऱ्या दिवशी दुपार २ वाजे पर्यंत निवडणूक निर्णय अधिकारी यांना सादर करावा.</span>
              </td>
            </tr>
            <tr>
              <td style="padding-left: 37px">
                <span id="MainContent_lblTip2">(2) सादर करतेवेळी उमेदवाराने न चुकता पोहोच घ्यावी. सदर पोहोच हि भविष्यात उमेदवाराला बचावासाठी उपयोगी होऊ
                  शकेल.
                </span>
              </td>
            </tr>
            <tr>
              <td style="padding-left: 37px">
                <span id="MainContent_lblTip3">(३) ओंन लाईन पद्धतीने खर्च भरल्यास सदर नमुना ऑटोमॅटिक तयार होईल. उमेदवाराने फक्त नमुना डाऊनलोड करून, तपासून,
                  प्रिंट करून, सही करून, (१) प्रमाणे सादर करावा.</span>
              </td>
            </tr>
          </table>
          <div style="height: 9px"></div>
          <div style="height: 9px"></div>
          <div class="col-md-5">
            <button type="button" id="btnPrint" class="btn btn-primary" (click)="Print()">Print</button>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>