<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Offers</strong>
        </div>
        <div class="card-block" id="form-container">
          <form novalidate [formGroup]="addOffersForm" (ngSubmit)="uploadOffers(addOffersForm.value)">
            <div class="form-group row">
              <label class=" col-md-4 form-control-label" for="select">Select State</label>
              <label class="col-md-4 form-control-label" for="select">Select District</label>
              <label class="col-md-4 form-control-label" id="lbType" for="select"> LocalBody Type</label>
            </div>
            <div class="form-group row" id="field-space-text">
              <div class="col-md-4">
                <select id="selectStateId" formControlName="StateId" name="StateId" class="form-control" (change)="OnStateChange()">
                  <option value="">--Select State--</option>
                  <option *ngFor="let state of stateList" [value]="state.StateId">{{state.StateName}}</option>
                </select>
                <div class="alert" *ngIf="!addOffersForm.controls['StateId'].valid && addOffersForm.controls['StateId'].touched">{{titleAlert}}</div>
              </div>

              <div class="col-md-4">
                <select id="selectDistrictId" formControlName="DistId" name="DistId" class="form-control">
                  <option value="">--Select District--</option>
                  <option *ngFor="let district of districtList" [value]="district.DistId">{{district.DistName}}</option>
                </select>
                <div class="alert" *ngIf="!addOffersForm.controls['DistId'].valid && addOffersForm.controls['DistId'].touched">{{titleAlert}}</div>
              </div>
              <div class="col-md-4">
                <select id="LocalBodyTypeId" formControlName="LocalBodyTypeId" name="LocalBodyTypeId" class="form-control" (change)="onLocalBodyTypeChange()">
                  <option value="">--Select Type--</option>
                  <option value="1"> Municipal Corporation</option>
                  <option value="2">Municipal Council </option>
                  <option value="3">Nagar Panchayat</option>
                  <option value="4">Zilla Parishad </option>
                  <option value="5">Panchayat Samiti </option>
                  <option value="6">Gram Panchayat</option>
                </select>
                <!-- <div class="alert" *ngIf="!addOffersForm.controls['LocalBodyId'].valid && addOffersForm.controls['LocalBodyId'].touched">{{titleAlert}}</div> -->
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="select">LocalBody</label>
              <label class=" col-md-4 form-control-label" for="select">Party Type</label>
              <label class="col-md-4 form-control-label" for="select">Party Name</label>
            </div>
            <div class="form-group row" id="field-space-text">
              <div class="col-md-4">
                <select id="LocalBodyId" formControlName="LocalBodyId" name="LocalBodyId" class="form-control">
                  <option value="">--Select LocalBody--</option>
                  <option *ngFor="let localBody of localBodyList" [value]="localBody.LocalBodyId">{{localBody.LocalBodyName}}</option>
                </select>
                <!-- <div class="alert" *ngIf="!addOffersForm.controls['LocalBodyId'].valid && addOffersForm.controls['LocalBodyId'].touched">{{titleAlert}}</div> -->

              </div>

              <div class="col-md-4">
                <select id="PartyTypeID" formControlName="PartyTypeID" name="PartyTypeID" class="form-control">
                  <option value="">--Select Type--</option>
                  <option value="1">National Parties</option>
                  <option value="2">State Parties in Maharashtra</option>
                  <option value="3">State Parties in other States</option>
                  <option value="4">other Parties</option>
                  <option value="5">Independent</option>
                </select>
                <div class="alert" *ngIf="!addOffersForm.controls['PartyTypeID'].valid && addOffersForm.controls['PartyTypeID'].touched">{{titleAlert}}</div>
              </div>
              <div class="col-md-4">
                <select id="PartyID" name="PartyID" class="form-control" size="1" formControlName="PartyID">
                  <option value="">Select Value</option>
                  <!-- <option *ngFor="let e of expense" [value]="e.EID">{{e.ExpenseTypeT}}</option> -->
                </select>
                <!-- <div class="alert" *ngIf="!addOffersForm.controls['PartyID'].valid && addOffersForm.controls['PartyID'].touched">{{titleAlert}}</div>                                                       -->
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="select">Offer On</label>
              <label class=" col-md-4 form-control-label" for="select">Offer Name</label>
              <label id="offerCode" class=" col-md-4 form-control-label" for="select">Offer Code</label>
            </div>
            <div class="form-group row" id="field-space-text">
              <div class="col-md-4">
                <select id="OfferNo" name="OfferNo" class="form-control" size="1" formControlName="OfferNo">
                  <option value="">Select Value</option>
                  <option value="1">Representative Registration</option>
                  <option value="2">Voter Analysis</option>
                  <option value="3">Vision And Mission</option>
                  <option value="4">Manifesto</option>
                  <option value="5">SMS FirstPayment</option>
                  <option value="5">SMS Gatway Recharge</option>
                </select>
                <div class="alert" *ngIf="!addOffersForm.controls['OfferNo'].valid && addOffersForm.controls['OfferNo'].touched">{{titleAlert}}</div>
              </div>
              <div class="col-md-4">
                <input type="text" id="OfferHeading" formControlName="OfferHeading" name="OfferHeading" class="form-control" placeholder="Offer Name">
                <div class="alert" *ngIf="!addOffersForm.controls['OfferHeading'].valid && addOffersForm.controls['OfferHeading'].touched">{{titleAlert}}</div>
              </div>
              <div class="col-md-4">
                <input id="OfferCode" formControlName="OfferCode" name="OfferCode" type="text" class="form-control" placeholder="OfferCode">
                <div class="alert" *ngIf="!addOffersForm.controls['OfferCode'].valid && addOffersForm.controls['OfferCode'].touched">{{titleAlert}}</div>
              </div>
            </div>


            <div class="form-group row">
              <label id="RegDate" class=" col-md-4 form-control-label" for="RegDate">Offer Valid From Date</label>
              <label class=" col-md-4 form-control-label" for="Symbols">Offer Valid To Date</label>
            </div>
            <div class="form-group row" id="field-space-text">
              <div class="col-md-4">
                <input id="OfferStartDate" formControlName="OfferStartDate" name="OfferStartDate" type="date" class="form-control" placeholder="">
                <div class="alert" *ngIf="!addOffersForm.controls['OfferStartDate'].valid && addOffersForm.controls['OfferStartDate'].touched">{{titleAlert}}</div>
              </div>
              <div class="col-md-4">
                <input id="OfferEndDate" formControlName="OfferEndDate" name="OfferEndDate" type="date" class="form-control" placeholder="">
                <div class="alert" *ngIf="!addOffersForm.controls['OfferEndDate'].valid && addOffersForm.controls['OfferEndDate'].touched">{{titleAlert}}</div>
              </div>
            </div>


            <div class="text-right">

              <button type="submit" class="btn btn-sm btn-success " [disabled]="!addOffersForm.valid">
                <i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-warning ">
                <i class="fa fa-ban"></i> Reset</button>
              <button type="submit" class="btn btn-sm btn-danger" (click)="onCancel()">
                <i class="fa fa-close"></i> Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>